{% extends "base.html" %}

{% load static %}
{% load tags %}

{% block title %}
    Dealer Profile
{% endblock title %}

{% block css %}
  .cm-div{
      width:174vh;
      height:90vh;
  }
{% endblock css %}

{% block body %}
     <div class="cm-div">
        <div class="jumbotron m-2">
            <div class="d-flex justify-content-between">
                <span>
                    <h1 class="display-4">#{{user.email|cap_the_first}}</h1>
                    <p class="lead">The dealer of the farmify with available deals that ara listed below</p>
                    <hr class="my-4">
                    <p>He is one of the trusted dealers of the farmify</p>
                </span>
                <span>
                    <img src="/media/{{user.avatar}}" alt="Img Not Found" style="width: 300px;;">
                </span>
            </div>
            <p class="lead">
              <a class="btn btn-danger btn-lg" href="/auth/logout" role="button">Logout</a>
            </p>
            <ul>
                <li><a href="/dealers/">All Of Your Deals</a></li>
                <li><a href="/dealers/requests">All Crop Requests</a></li>
            </ul>
          </div>
     </div>
{% endblock body %}