<nav class="navbar navbar-expand-lg navbar-dark bg-dark position-relative">
    <a class="navbar-brand" href="/">Farmify</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/news/" tabindex="-1" aria-disabled="true">Latest News</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" method="POST" action="/search">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required="true" name="search">
        <button class="btn btn-outline-success text-light my-2 my-sm-0 mr-2" type="submit">Search</button>
      </form>
      
      {% if request.user.is_authenticated %}
      <img src="/media/{{request.user.avatar}}" alt="Image Not Found" style="width:35px;height:35px;" class="border rounded-circle mr-2">
      
      {% if request.user.role == 'dealer' %}
        <input type="button" class='btn btn-success mr-2' value="{{request.user.email}}" onclick="location.href='/dealers/profile'">
      {% elif request.user.role == 'farmer' %}
      <input type="button" class='btn btn-success mr-2' value="{{request.user.email}}" onclick="location.href='/farmers/profile'">
      {% endif %}
        
     
      <input type="button" class="btn btn-danger" value="Logout" onclick="location.href='/auth/logout'">
      {% else %}
      <input type="button" class='btn btn-success mr-2' value="Login" onclick="location.href='/auth/login'">
      {% endif %}
          
     
    </div>
  </nav>

  <div id="sidenav" class="bg-dark">
      <ul>
          <li>
            
            {% if request.user.role  == 'farmer' %}
              <a href='/farmers'>Your Crops</a>
            {% elif request.user.role == 'dealer' %}
              <a href='/dealers'>Your Deals</a>
            {% else %}
              <a href='/crop-plannings'>Crop Planning</a>
            {% endif %}
              
          </li>
          <li>
            {% if request.user.role  == 'farmer' %}
              <a href='/farmers/requests/'>Deal Requests</a>
            {% elif request.user.role == 'dealer' %}
              <a href='/dealers/requests'>Crop Requests</a>
            {% else %}
              <a href='/'>Crop Care</a>
            {% endif %}
            
          </li>
          <li><a href='/weather'>Weather Report</a></li>
      </ul>
  </div>