body{
    background-color: white;
}
#outer-box{
    max-width: 680px;
    margin: 20px auto;
    background-color: #eeeeee;
    text-align: center;
    
}

#outer-box form {
  display: flex; 
  justify-content:center;
  flex-wrap: wrap;
  margin: 20px;
}